@font-face {
  font-family: 'AXIS';
  src: url('./Utility/fonts/Axis\ Extrabold.otf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./Utility/fonts/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans', sans-serif;;
  src: url('./Utility/fonts/OpenSans-Regular.ttf');
}

.App {
  display: flex;
  font-family: 'Atkinson Hyperlegible';
}

/*    Side Bar     */

.side-bar {
  width: 15%;
  background-color: #303030;
  color: white;
}

.side-bar ul {
  padding: 1rem;
}

.side-bar li {
  list-style: none;
  padding: 1rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px black;
}

.side-bar img {
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
}

#about-me-link {
  font-size: 2.5rem;
}

#project-divider {
  color: #fff;
  background-color: #303030;
  font-size: 2.5rem;

}

#project-divider::after,
#project-divider::before {
  content: ' ~ ';
}

/*    Article     */

.project-container {
  width: 85%;
}

.project-body {
  display: flex;
  justify-content: center;
}

.info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d4d3d3;
}

h1 {
  font-family: 'AXIS';
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  color: #303030;
  text-shadow: 3px 3px 5px black;
  align-self: center;
}

.article {
  width: 80%;
  background-color: #303030;
  color: white;
  font-family: 'OpenSans-Regular';
  padding: 2.5rem;
  align-self: center;
  font-size: 1.2rem;
  line-height: 1.5;
  box-shadow: 5px 5px 5px black;
}

.email,
.github {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

/*    Snapshot     */

.snapshot-container {
  width: 50%;
  background-color: #d4d3d3;
  display: flex;
  flex-wrap: wrap;
}

.snapshot-container h2 {
  width: 100%;
  font-weight: bold;
  font-size: 5rem;
  line-height: 7rem;
  text-align: center;
  color: #fff;
  background-color: #303030;
  text-shadow: 3px 3px 5px black;
}

.img-grid {
  width: 100%;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.img-grid img {
  width: 100%;
}
