.App {
  display: flex;
}

.side-bar {
  width: 30%;
  background-color: black;
  color: white;
}

.side-bar ul {
  padding: 1rem;
}

.side-bar li {
  list-style: none;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 4rem;
}

.logo {
  background-color: violet;
  height: 20rem;
}

.project-body {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}